src/bsm/lmp/lmp_v4_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  LMP v4.0 XML Schema
  ===================
  
  Unified schema supporting:
  - Identity (required)
  - Embeddings (optional, for vector representations)
  - Semantics (optional, includes NeSyGrammar)
  - Geometry (optional, includes TrajectoryIFP)
  - KnowledgeGraph (optional)
  - Provenance (optional)
  
  Author: MICA Team
  Date: 2026-01-20
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://ai-university.edu/lmp/v4.0"
           xmlns:lmp="http://ai-university.edu/lmp/v4.0"
           elementFormDefault="qualified">


  <!-- ================================================================ -->
  <!-- ROOT ELEMENT: LMP (v4.0)                                         -->
  <!-- ================================================================ -->

  <xs:element name="LMP" type="lmp:LMPType"/>

  <xs:complexType name="LMPType">
    <xs:sequence>
      <xs:element name="Identity" type="lmp:IdentityType"/>
      <xs:element name="Embeddings" type="lmp:EmbeddingsType" minOccurs="0"/>
      <xs:element name="Semantics" type="lmp:SemanticsType" minOccurs="0"/>
      <xs:element name="Geometry" type="lmp:GeometryType" minOccurs="0"/>
      <xs:element name="KnowledgeGraph" type="lmp:KnowledgeGraphType" minOccurs="0"/>
      <xs:element name="Provenance" type="lmp:ProvenanceType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="version" type="xs:string" use="required" fixed="4.0"/>
    <xs:attribute name="preset" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- ================================================================ -->
  <!-- Identity                                                        -->
  <!-- ================================================================ -->

  <xs:complexType name="IdentityType">
    <xs:sequence>
      <xs:element name="BudoID" type="xs:string"/>
      <xs:element name="PrimaryAccession" type="xs:string" minOccurs="0"/>
      <xs:element name="IsoformAccession" type="xs:string" minOccurs="0"/>
      <xs:element name="UniProtKBId" type="xs:string" minOccurs="0"/>
      <xs:element name="EntryType" type="xs:string" minOccurs="0"/>
      <xs:element name="Active" type="xs:boolean" minOccurs="0"/>
      <xs:element name="ProteinExistence" type="xs:string" minOccurs="0"/>
      <xs:element name="Organism" type="lmp:OrganismType" minOccurs="0"/>
      <xs:element name="Lineages" type="lmp:LineagesType" minOccurs="0"/>
      <xs:element name="SecondaryAccessions" type="lmp:StringListType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OrganismType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="LineagesType">
    <xs:sequence>
      <xs:element name="Lineage" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StringListType">
    <xs:sequence>
      <xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ================================================================ -->
  <!-- Embeddings (placeholder for vector representations)            -->
  <!-- ================================================================ -->

  <xs:complexType name="EmbeddingsType">
    <xs:sequence>
      <xs:element name="Embedding" type="lmp:EmbeddingType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EmbeddingType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="model" type="xs:string" use="required"/>
        <xs:attribute name="dimension" type="xs:nonNegativeInteger" use="optional"/>
        <xs:attribute name="encoding" type="xs:string" default="base64"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ================================================================ -->
  <!-- Semantics (includes NeSyGrammar)                                -->
  <!-- ================================================================ -->

  <xs:complexType name="SemanticsType">
    <xs:sequence>
      <xs:element name="ProteinName" type="xs:string" minOccurs="0"/>
      <xs:element name="Genes" type="lmp:StringListType" minOccurs="0"/>
      <xs:element name="Keywords" type="lmp:StringListType" minOccurs="0"/>
      <xs:element name="NeSyGrammar" type="lmp:NeSyGrammarType" minOccurs="0"/>
      <xs:element name="Comment" type="lmp:TypedTextType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NeSyGrammarType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="version" type="xs:string" default="2.0"/>
        <xs:attribute name="length" type="xs:nonNegativeInteger" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TypedTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ================================================================ -->
  <!-- Geometry (v2+v3 Hybrid: Chains OR simple Features)              -->
  <!-- ================================================================ -->

  <xs:complexType name="GeometryType">
    <xs:sequence>
      <!-- v3-style simple (preset: semantic, nesy-core) -->
      <xs:element name="Sequence" type="lmp:SequenceType" minOccurs="0"/>
      <xs:element name="Feature" type="lmp:FeatureType" minOccurs="0" maxOccurs="unbounded"/>
      
      <!-- v2-style detailed (preset: structural, full) -->
      <xs:element name="Chain" type="lmp:ChainType" minOccurs="0" maxOccurs="unbounded"/>

      <!-- Structural enrichment blocks (v4.1) -->
      <xs:element name="AlphaFoldModel" type="lmp:AlphaFoldModelType" minOccurs="0"/>
      <xs:element name="SecondaryStructure" type="lmp:SecondaryStructureType" minOccurs="0"/>
      <xs:element name="StructuralQuality" type="lmp:StructuralQualityType" minOccurs="0"/>
      <xs:element name="NetworkAnnotation" type="lmp:NetworkAnnotationType" minOccurs="0"/>
      <xs:element name="PocketSites" type="lmp:PocketSitesType" minOccurs="0"/>
      <xs:element name="StructureCatalog" type="lmp:StructureCatalogType" minOccurs="0"/>
      <xs:element name="StructureSet" type="lmp:StructureSetType" minOccurs="0"/>
      <xs:element name="ResidueStatistics" type="lmp:ResidueStatisticsType" minOccurs="0"/>
      <xs:element name="DynamicsStatistics" type="lmp:DynamicsStatisticsType" minOccurs="0"/>
      <xs:element name="MembraneTopology" type="lmp:MembraneTopologyType" minOccurs="0"/>
      <xs:element name="CellContextHints" type="lmp:CellContextHintsType" minOccurs="0"/>
      <xs:element name="TopologyHooks" type="lmp:TopologyHooksType" minOccurs="0"/>
      <xs:element name="Visuals" type="lmp:VisualsType" minOccurs="0"/>

      <!-- MD dynamics -->
      <xs:element name="TrajectoryIFP" type="lmp:TrajectoryIFPType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SequenceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="length" type="xs:nonNegativeInteger" use="optional"/>
        <xs:attribute name="checksum" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- v3-style Feature (simple, for UniProt features) -->
  <xs:complexType name="FeatureType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="start" type="xs:nonNegativeInteger" use="optional"/>
        <xs:attribute name="end" type="xs:nonNegativeInteger" use="optional"/>
        <xs:attribute name="description" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ================================================================ -->
  <!-- v2-style Chain Structure (from LMP v2.0)                        -->
  <!-- ================================================================ -->

  <xs:complexType name="ChainType">
    <xs:sequence>
      <xs:element name="Domain" type="lmp:DomainType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Interface" type="lmp:InterfaceType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="sequence" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          NeSy-encoded sequence or canonical amino acid sequence.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="state" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Functional state (e.g., "Active", "Inactive", "Apo").
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="DomainType">
    <xs:sequence>
      <xs:element name="Motif" type="lmp:MotifType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PTM" type="lmp:PTMType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="BindingSite" type="lmp:BindingSiteType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Conformation" type="lmp:ConformationType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="type" type="xs:string" use="optional"/>
    <xs:attribute name="start" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="end" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="interpro_id" type="xs:string" use="optional"/>
    <xs:attribute name="pfam_id" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="MotifType">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="start" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="end" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="type" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="PTMType">
    <xs:attribute name="id" type="xs:ID" use="required">
      <xs:annotation>
        <xs:documentation>
          Unique identifier for this PTM (e.g., "pY416", "acK295").
          Used as reference target for causal triggers.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="phosphorylation"/>
          <xs:enumeration value="acetylation"/>
          <xs:enumeration value="ubiquitination"/>
          <xs:enumeration value="methylation"/>
          <xs:enumeration value="sumoylation"/>
          <xs:enumeration value="glycosylation"/>
          <xs:enumeration value="hydroxylation"/>
          <xs:enumeration value="nitrosylation"/>
          <xs:enumeration value="palmitoylation"/>
          <xs:enumeration value="n_terminal_myristoylation"/>
          <xs:enumeration value="n_terminal_acetylation"/>
          <xs:enumeration value="disulfide"/>
          <xs:enumeration value="other"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="residue" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[ACDEFGHIKLMNPQRSTVWY]"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="position" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="status" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="present"/>
          <xs:enumeration value="absent"/>
          <xs:enumeration value="transient"/>
          <xs:enumeration value="unknown"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="evidence" type="xs:string" use="optional"/>
    <xs:attribute name="enzyme" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Enzyme responsible (e.g., "PKA", "p300", "CBP").
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="causal_trigger" type="xs:IDREF" use="optional">
      <xs:annotation>
        <xs:documentation>
          Reference to another PTM or Ligand that triggers this PTM.
          Enables causal chain modeling (PTM1 → PTM2 → PTM3).
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="BindingSiteType">
    <xs:sequence>
      <xs:element name="Ligand" type="lmp:LigandType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Type of binding site (e.g., "ATP-binding", "substrate-binding", "catalytic", "allosteric")
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="residues" type="lmp:ResidueListType" use="required">
      <xs:annotation>
        <xs:documentation>
          Comma-separated list of residue positions (e.g., "57,102,195")
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="LigandType">
    <xs:sequence>
      <xs:element name="PubChemData" type="lmp:PubChemDataType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="optional"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="agonist"/>
          <xs:enumeration value="antagonist"/>
          <xs:enumeration value="substrate"/>
          <xs:enumeration value="inhibitor"/>
          <xs:enumeration value="cofactor"/>
          <xs:enumeration value="allosteric_modulator"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="effect" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="activation"/>
          <xs:enumeration value="inhibition"/>
          <xs:enumeration value="catalysis"/>
          <xs:enumeration value="allosteric_modulation"/>
          <xs:enumeration value="stabilization"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="pubchem_cid" type="xs:string" use="optional"/>
    <xs:attribute name="smiles" type="xs:string" use="optional"/>
    <xs:attribute name="inchi" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="PubChemDataType">
    <xs:sequence>
      <xs:element name="Property" type="lmp:PropertyType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="cid" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="PropertyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ConformationType">
    <xs:sequence>
      <xs:element name="FeatureState" type="lmp:FeatureStateType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="state_name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Name of conformational state (e.g., "Active", "Inactive", "Autoinhibited", "Open", "Closed", "DFG-IN", "DFG-OUT")
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="trigger" type="xs:IDREF" use="optional">
      <xs:annotation>
        <xs:documentation>
          Reference to PTM or Ligand ID that triggers this conformation.
          Enables causal modeling (PTM → Conformation → Function).
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ese_signature" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Link to ESE (Embedding Situacional de Estadísticas) signature from MD simulations.
          Format: "ese_{protein_id}_{state_name}_{trajectory_id}"
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="confidence" use="optional" default="medium">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="high"/>
          <xs:enumeration value="medium"/>
          <xs:enumeration value="low"/>
          <xs:enumeration value="predicted"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="FeatureStateType">
    <xs:attribute name="feature_name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Name of structural feature (e.g., "ActivationLoop", "ATP_BindingSite", "TransmembraneHelix6", "DFG_Motif")
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="state" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          State of the feature (e.g., "Substrate-accessible", "Blocked", "Outward", "Inward", "IN", "OUT")
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="InterfaceResidueType">
    <xs:attribute name="side" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="self"/>
          <xs:enumeration value="partner"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="chain" type="xs:string" use="optional"/>
    <xs:attribute name="resname" type="xs:string" use="optional"/>
    <xs:attribute name="resnum" type="xs:integer" use="required"/>
    <xs:attribute name="label" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="InterfaceType">
    <xs:sequence minOccurs="0">
      <xs:element name="Residue" type="lmp:InterfaceResidueType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="partner_protein" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          UniProt ID of partner protein (for protein-protein interfaces)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="partner_chain" type="xs:string" use="optional"/>
    <xs:attribute name="interface_residues" type="lmp:ResidueListType" use="required"/>
    <xs:attribute name="interaction_source" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Origin of the interface detector (e.g., "plip", "ring4", "manual")
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="interaction_type" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Interaction subtype or detector-specific class (e.g., "plip:pistacking", "plip:hbond_pdon")
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="heterodimer"/>
          <xs:enumeration value="homodimer"/>
          <xs:enumeration value="intramolecular"/>
          <xs:enumeration value="protein-protein"/>
          <xs:enumeration value="protein-ligand"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <!-- ================================================================ -->
  <!-- Structural Enrichment Types (v4.1)                              -->
  <!-- ================================================================ -->

  <!-- AlphaFold model metadata + per-residue confidence -->
  <xs:complexType name="AlphaFoldModelType">
    <xs:sequence>
      <xs:element name="ConfidencePerResidue" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Residue" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
                <xs:attribute name="name" type="xs:string" use="optional"/>
                <xs:attribute name="pLDDT" type="xs:float" use="required"/>
                <xs:attribute name="confidence_class" type="xs:string" use="optional"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PAESummary" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DomainPair" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="domain_a" type="xs:string" use="required"/>
                <xs:attribute name="domain_b" type="xs:string" use="required"/>
                <xs:attribute name="mean_pae" type="xs:float" use="required"/>
                <xs:attribute name="confident_interface" type="xs:boolean" use="optional"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="mean_pae" type="xs:float" use="optional"/>
          <xs:attribute name="max_pae" type="xs:float" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="entry_id" type="xs:string" use="required"/>
    <xs:attribute name="version" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="avg_plddt" type="xs:float" use="optional"/>
    <xs:attribute name="model_date" type="xs:string" use="optional"/>
    <xs:attribute name="uniprot_start" type="xs:nonNegativeInteger" use="optional"/>
    <xs:attribute name="uniprot_end" type="xs:nonNegativeInteger" use="optional"/>
  </xs:complexType>

  <!-- DSSP secondary structure summary -->
  <xs:complexType name="SecondaryStructureType">
    <xs:sequence>
      <xs:element name="Segment" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="type" type="xs:string" use="required"/>
          <xs:attribute name="start" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="end" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="chain" type="xs:string" use="optional"/>
          <xs:attribute name="length" type="xs:nonNegativeInteger" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="method" type="xs:string" use="optional"/>
    <xs:attribute name="helix_fraction" type="xs:float" use="optional"/>
    <xs:attribute name="strand_fraction" type="xs:float" use="optional"/>
    <xs:attribute name="coil_fraction" type="xs:float" use="optional"/>
  </xs:complexType>

  <!-- Structural quality summary (Rg, Ramachandran, contacts) -->
  <xs:complexType name="StructuralQualityType">
    <xs:sequence>
      <xs:element name="Rg" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" type="xs:float" use="required"/>
          <xs:attribute name="unit" type="xs:string" default="angstrom"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Ramachandran" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="favored" type="xs:nonNegativeInteger" use="optional"/>
          <xs:attribute name="allowed" type="xs:nonNegativeInteger" use="optional"/>
          <xs:attribute name="outlier" type="xs:nonNegativeInteger" use="optional"/>
          <xs:attribute name="favored_pct" type="xs:float" use="optional"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="ContactDensity" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="total_contacts" type="xs:nonNegativeInteger" use="optional"/>
          <xs:attribute name="contacts_per_residue" type="xs:float" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="source" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- Network centrality / hub residues -->
  <xs:complexType name="NetworkAnnotationType">
    <xs:sequence>
      <xs:element name="Hub" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="residue_id" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="chain" type="xs:string" use="optional"/>
          <xs:attribute name="betweenness" type="xs:float" use="required"/>
          <xs:attribute name="degree" type="xs:float" use="optional"/>
          <xs:attribute name="allosteric_candidate" type="xs:boolean" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PocketSitesType">
    <xs:sequence>
      <xs:element name="PocketSite" type="lmp:PocketSiteType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PocketSiteType">
    <xs:sequence>
      <xs:element name="Residue" type="lmp:PocketResidueType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ArtifactRef" type="lmp:PocketArtifactRefType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="rank" type="xs:positiveInteger" use="optional"/>
    <xs:attribute name="engine" type="xs:string" use="optional"/>
    <xs:attribute name="source" type="xs:string" use="optional"/>
    <xs:attribute name="score" type="xs:float" use="optional"/>
    <xs:attribute name="volume" type="xs:float" use="optional"/>
    <xs:attribute name="center_x" type="xs:float" use="optional"/>
    <xs:attribute name="center_y" type="xs:float" use="optional"/>
    <xs:attribute name="center_z" type="xs:float" use="optional"/>
    <xs:attribute name="point_count" type="xs:nonNegativeInteger" use="optional"/>
    <xs:attribute name="residue_count" type="xs:nonNegativeInteger" use="optional"/>
    <xs:attribute name="static" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <xs:complexType name="PocketResidueType">
    <xs:attribute name="residue_id" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="chain" type="xs:string" use="optional"/>
    <xs:attribute name="residue_name" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="PocketArtifactRefType">
    <xs:attribute name="kind" type="xs:string" use="optional"/>
    <xs:attribute name="path" type="xs:string" use="optional"/>
    <xs:attribute name="format" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="StructureCatalogType">
    <xs:sequence>
      <xs:element name="Structure" type="lmp:StructureCatalogEntryType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StructureCatalogEntryType">
    <xs:sequence>
      <xs:element name="CoverageSegment" type="lmp:CoverageSegmentType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="structure_ref" type="xs:string" use="required"/>
    <xs:attribute name="source_kind" type="xs:string" use="required"/>
    <xs:attribute name="provider" type="xs:string" use="optional"/>
    <xs:attribute name="provider_native_id" type="xs:string" use="optional"/>
    <xs:attribute name="coordinate_accession_ref" type="xs:string" use="optional"/>
    <xs:attribute name="artifact_uri" type="xs:string" use="optional"/>
    <xs:attribute name="format" type="xs:string" use="optional"/>
    <xs:attribute name="display_name" type="xs:string" use="optional"/>
    <xs:attribute name="representative" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <xs:complexType name="CoverageSegmentType">
    <xs:attribute name="start" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="end" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="chain_id" type="xs:string" use="optional"/>
    <xs:attribute name="auth_chain_id" type="xs:string" use="optional"/>
    <xs:attribute name="label_chain_id" type="xs:string" use="optional"/>
    <xs:attribute name="entity_id" type="xs:string" use="optional"/>
    <xs:attribute name="entity_type" type="xs:string" use="optional"/>
    <xs:attribute name="structure_start" type="xs:integer" use="optional"/>
    <xs:attribute name="structure_end" type="xs:integer" use="optional"/>
    <xs:attribute name="auth_start" type="xs:integer" use="optional"/>
    <xs:attribute name="auth_end" type="xs:integer" use="optional"/>
    <xs:attribute name="identity" type="xs:float" use="optional"/>
    <xs:attribute name="coverage" type="xs:float" use="optional"/>
  </xs:complexType>

  <xs:complexType name="StructureSetType">
    <xs:sequence>
      <xs:element name="StructureMember" type="lmp:StructureMemberType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="representative_structure_ref" type="xs:string" use="optional"/>
    <xs:attribute name="coordinate_accession_ref" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="VisualsType">
    <xs:sequence>
      <xs:element name="Visual" type="lmp:VisualType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VisualType">
    <xs:attribute name="kind" type="xs:string" use="required"/>
    <xs:attribute name="source" type="xs:string" use="required"/>
    <xs:attribute name="entry_id" type="xs:string" use="optional"/>
    <xs:attribute name="pdb_id" type="xs:string" use="optional"/>
    <xs:attribute name="url" type="xs:string" use="optional"/>
    <xs:attribute name="preview_url" type="xs:string" use="optional"/>
    <xs:attribute name="local_path" type="xs:string" use="optional"/>
    <xs:attribute name="avg_plddt" type="xs:float" use="optional"/>
  </xs:complexType>

  <xs:complexType name="StructureMemberType">
    <xs:attribute name="structure_ref" type="xs:string" use="required"/>
    <xs:attribute name="role" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="ResidueStatisticsType">
    <xs:sequence>
      <xs:element name="ResidueStat" type="lmp:ResidueStatType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResidueStatType">
    <xs:attribute name="position" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="amino_acid" type="xs:string" use="required"/>
    <xs:attribute name="structure_ref" type="xs:string" use="required"/>
    <xs:attribute name="chain" type="xs:string" use="optional"/>
    <xs:attribute name="secondary_structure" type="xs:string" use="optional"/>
    <xs:attribute name="solvent_accessibility" type="xs:float" use="optional"/>
    <xs:attribute name="contact_degree" type="xs:float" use="optional"/>
    <xs:attribute name="hub_score" type="xs:float" use="optional"/>
    <xs:attribute name="confidence" type="xs:float" use="optional"/>
    <xs:attribute name="confidence_source" type="xs:string" use="optional"/>
    <xs:attribute name="confidence_class" type="xs:string" use="optional"/>
    <xs:attribute name="mean_pae" type="xs:float" use="optional"/>
  </xs:complexType>

  <xs:complexType name="DynamicsStatisticsType">
    <xs:sequence>
      <xs:element name="RunMetadata" type="lmp:DynamicRunMetadataType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="DatasetReference" type="lmp:DynamicDatasetReferenceType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ResidueDynamicStat" type="lmp:ResidueDynamicStatType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PairDynamicStat" type="lmp:PairDynamicStatType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="source_kind" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="DynamicRunMetadataType">
    <xs:attribute name="run_id" type="xs:string" use="optional"/>
    <xs:attribute name="engine" type="xs:string" use="optional"/>
    <xs:attribute name="topology_ref" type="xs:string" use="optional"/>
    <xs:attribute name="trajectory_ref" type="xs:string" use="optional"/>
    <xs:attribute name="replica_id" type="xs:string" use="optional"/>
    <xs:attribute name="replica_count" type="xs:nonNegativeInteger" use="optional"/>
    <xs:attribute name="ensemble_id" type="xs:string" use="optional"/>
    <xs:attribute name="force_field" type="xs:string" use="optional"/>
    <xs:attribute name="solvent_model" type="xs:string" use="optional"/>
    <xs:attribute name="n_frames" type="xs:nonNegativeInteger" use="optional"/>
    <xs:attribute name="stride" type="xs:positiveInteger" use="optional"/>
    <xs:attribute name="time_step_ps" type="xs:float" use="optional"/>
    <xs:attribute name="duration_ns" type="xs:float" use="optional"/>
    <xs:attribute name="temperature_k" type="xs:float" use="optional"/>
  </xs:complexType>

  <xs:complexType name="DynamicDatasetReferenceType">
    <xs:attribute name="dataset" type="xs:string" use="required"/>
    <xs:attribute name="record_id" type="xs:string" use="optional"/>
    <xs:attribute name="split" type="xs:string" use="optional"/>
    <xs:attribute name="source_uri" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="ResidueDynamicStatType">
    <xs:attribute name="position" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="chain" type="xs:string" use="optional"/>
    <xs:attribute name="rmsf" type="xs:float" use="optional"/>
    <xs:attribute name="sasa_mean" type="xs:float" use="optional"/>
    <xs:attribute name="sasa_std" type="xs:float" use="optional"/>
    <xs:attribute name="secondary_structure" type="xs:string" use="optional"/>
    <xs:attribute name="normal_mode_low" type="xs:float" use="optional"/>
    <xs:attribute name="normal_mode_mid" type="xs:float" use="optional"/>
    <xs:attribute name="normal_mode_high" type="xs:float" use="optional"/>
  </xs:complexType>

  <xs:complexType name="PairDynamicStatType">
    <xs:attribute name="position_i" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="position_j" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="chain_i" type="xs:string" use="optional"/>
    <xs:attribute name="chain_j" type="xs:string" use="optional"/>
    <xs:attribute name="vdw" type="xs:float" use="optional"/>
    <xs:attribute name="hbbb" type="xs:float" use="optional"/>
    <xs:attribute name="hbsb" type="xs:float" use="optional"/>
    <xs:attribute name="hbss" type="xs:float" use="optional"/>
    <xs:attribute name="hydrophobic" type="xs:float" use="optional"/>
    <xs:attribute name="salt_bridge" type="xs:float" use="optional"/>
    <xs:attribute name="pi_cation" type="xs:float" use="optional"/>
    <xs:attribute name="pi_stacking" type="xs:float" use="optional"/>
    <xs:attribute name="t_stacking" type="xs:float" use="optional"/>
    <xs:attribute name="motion_correlation" type="xs:float" use="optional"/>
    <xs:attribute name="normal_mode_low" type="xs:float" use="optional"/>
    <xs:attribute name="normal_mode_mid" type="xs:float" use="optional"/>
    <xs:attribute name="normal_mode_high" type="xs:float" use="optional"/>
  </xs:complexType>

  <xs:complexType name="MembraneTopologyType">
    <xs:sequence>
      <xs:element name="Segment" type="lmp:MembraneSegmentType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MembraneSegmentType">
    <xs:attribute name="structure_ref" type="xs:string" use="optional"/>
    <xs:attribute name="start" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="end" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="kind" type="xs:string" use="optional"/>
    <xs:attribute name="orientation" type="xs:string" use="optional"/>
    <xs:attribute name="evidence_source" type="xs:string" use="optional"/>
    <xs:attribute name="confidence" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="CellContextHintsType">
    <xs:sequence>
      <xs:element name="Hint" type="lmp:CellContextHintType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CellContextHintType">
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
    <xs:attribute name="source" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="TopologyHooksType">
    <xs:sequence>
      <xs:element name="Hook" type="lmp:TopologyHookType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TopologyHookType">
    <xs:attribute name="preferred_structure_ref" type="xs:string" use="optional"/>
    <xs:attribute name="component_id" type="xs:string" use="optional"/>
    <xs:attribute name="topology_region_id" type="xs:string" use="optional"/>
    <xs:attribute name="chain_id" type="xs:string" use="optional"/>
    <xs:attribute name="entity_type" type="xs:string" use="optional"/>
    <xs:attribute name="membrane_required" type="xs:boolean" use="optional"/>
    <xs:attribute name="ligand_parameterization_target" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- ================================================================ -->
  <!-- TrajectoryIFP (MD Dynamics - SMIC Integration)                  -->
  <!-- ================================================================ -->

  <xs:complexType name="TrajectoryIFPType">
    <xs:sequence>
      <xs:element name="Frame" type="lmp:IFPFrameType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Summary" type="lmp:IFPSummaryType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="pdb_id" type="xs:string" use="required"/>
    <xs:attribute name="ligand" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Ligand name or residue ID (e.g., "ATP", "ADP", "LIG", "UNK")
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="total_frames" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="time_step_ps" type="xs:float" use="optional">
      <xs:annotation>
        <xs:documentation>
          Time step in picoseconds between frames (e.g., 0.1, 1.0, 10.0)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="stride" type="xs:positiveInteger" default="1">
      <xs:annotation>
        <xs:documentation>
          Frame stride (e.g., 1 = every frame, 10 = every 10th frame)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="IFPFrameType">
    <xs:sequence>
      <xs:element name="Interaction" type="lmp:InteractionType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Fingerprint" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Bit-string representation of interactions (e.g., "1010010110...")
            Each bit corresponds to a predefined interaction type.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="number" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="time_ns" type="xs:float" use="optional">
      <xs:annotation>
        <xs:documentation>
          Simulation time in nanoseconds (e.g., 0.1, 1.5, 10.0)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="InteractionType">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="H-Bond"/>
          <xs:enumeration value="Hydrophobic"/>
          <xs:enumeration value="Pi-Stacking"/>
          <xs:enumeration value="Pi-Cation"/>
          <xs:enumeration value="Salt-Bridge"/>
          <xs:enumeration value="Water-Bridge"/>
          <xs:enumeration value="Halogen-Bond"/>
          <xs:enumeration value="Metal-Coordination"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="residue" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          Residue identifier (e.g., "ASP166", "TYR72", "LYS295")
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ligand_atom" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Ligand atom name (e.g., "O2", "N1", "C6")
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="distance" type="xs:float" use="optional">
      <xs:annotation>
        <xs:documentation>
          Distance in Ångströms (Å)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="angle" type="xs:float" use="optional">
      <xs:annotation>
        <xs:documentation>
          Angle in degrees (for H-bonds: D-H-A angle; for pi-stacking: dihedral angle)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="occupancy" type="xs:float" use="optional">
      <xs:annotation>
        <xs:documentation>
          Occupancy fraction (0.0-1.0) across trajectory
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="IFPSummaryType">
    <xs:sequence>
      <xs:element name="KeyInteraction" type="lmp:KeyInteractionType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="total_interactions" type="xs:nonNegativeInteger" use="optional"/>
    <xs:attribute name="average_interactions_per_frame" type="xs:float" use="optional"/>
  </xs:complexType>

  <xs:complexType name="KeyInteractionType">
    <xs:attribute name="residue" type="xs:string" use="required"/>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="occupancy" type="xs:float" use="required">
      <xs:annotation>
        <xs:documentation>
          Occupancy across trajectory (0.0-1.0). High occupancy (>0.5) indicates persistent interaction.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="avg_distance" type="xs:float" use="optional"/>
    <xs:attribute name="avg_angle" type="xs:float" use="optional"/>
  </xs:complexType>

  <xs:simpleType name="ResidueListType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d+(,\d+)*"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ================================================================ -->
  <!-- KnowledgeGraph                                                  -->
  <!-- ================================================================ -->

  <xs:complexType name="KnowledgeGraphType">
    <xs:sequence>
      <xs:element name="CrossReference" type="lmp:CrossReferenceType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Reference" type="lmp:ReferenceType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Edge" type="lmp:EdgeType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CrossReferenceType">
    <xs:sequence>
      <xs:element name="Property" type="lmp:PropertyType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="db" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="isoformId" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="ReferenceType">
    <xs:sequence>
      <xs:element name="Citation" type="lmp:TypedTextType" minOccurs="0"/>
      <xs:element name="CitationXref" type="lmp:PropertyType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="number" type="xs:nonNegativeInteger" use="optional"/>
  </xs:complexType>

  <xs:complexType name="EdgeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="db" type="xs:string" use="optional"/>
        <xs:attribute name="id" type="xs:string" use="optional"/>
        <xs:attribute name="source" type="xs:string" use="optional"/>
        <xs:attribute name="target" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ================================================================ -->
  <!-- Provenance                                                      -->
  <!-- ================================================================ -->

  <xs:complexType name="ProvenanceType">
    <xs:sequence>
      <xs:element name="EntryAudit" type="lmp:EntryAuditType" minOccurs="0"/>
      <xs:element name="GroundTruthEntry" type="lmp:GroundTruthType" minOccurs="0"/>
      <xs:element name="GroundTruthMeta" type="lmp:GroundTruthType" minOccurs="0"/>
      <xs:element name="GenerationInfo" type="lmp:GenerationInfoType" minOccurs="0"/>
      <xs:element name="InternalLine" type="lmp:TypedTextType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EntryAuditType">
    <xs:sequence>
      <xs:element name="SequenceVersion" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="EntryVersion" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="FirstPublicDate" type="xs:string" minOccurs="0"/>
      <xs:element name="LastAnnotationUpdateDate" type="xs:string" minOccurs="0"/>
      <xs:element name="LastSequenceUpdateDate" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GroundTruthType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="contentType" type="xs:string" use="optional"/>
        <xs:attribute name="encoding" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="GenerationInfoType">
    <xs:sequence>
      <xs:element name="Generator" type="xs:string" minOccurs="0"/>
      <xs:element name="GeneratorVersion" type="xs:string" minOccurs="0"/>
      <xs:element name="Preset" type="xs:string" minOccurs="0"/>
      <xs:element name="Timestamp" type="xs:string" minOccurs="0"/>
      <xs:element name="UniProtRelease" type="xs:string" minOccurs="0"/>
      <xs:element name="UniProtEntryVersion" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="UniProtLastAnnotated" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
