src/bsm/lmp/lmp_v3_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://ai-university.edu/lmp/v3.0"
           xmlns:lmp="http://ai-university.edu/lmp/v3.0"
           elementFormDefault="qualified">

  <!-- ================================================================ -->
  <!-- ROOT ELEMENT: LMP (v3.0)                                         -->
  <!-- ================================================================ -->

  <xs:element name="LMP" type="lmp:LMPType"/>

  <xs:complexType name="LMPType">
    <xs:sequence>
      <xs:element name="Identity" type="lmp:IdentityType"/>
      <xs:element name="Embeddings" type="lmp:EmbeddingsType" minOccurs="0"/>
      <xs:element name="Semantics" type="lmp:SemanticsType" minOccurs="0"/>
      <xs:element name="Geometry" type="lmp:GeometryType" minOccurs="0"/>
      <xs:element name="KnowledgeGraph" type="lmp:KnowledgeGraphType" minOccurs="0"/>
      <xs:element name="Provenance" type="lmp:ProvenanceType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="version" type="xs:string" use="required" fixed="3.0"/>
  </xs:complexType>

  <!-- ================================================================ -->
  <!-- Identity                                                        -->
  <!-- ================================================================ -->

  <xs:complexType name="IdentityType">
    <xs:sequence>
      <xs:element name="BudoID" type="xs:string"/>
      <xs:element name="PrimaryAccession" type="xs:string" minOccurs="0"/>
      <xs:element name="UniProtKBId" type="xs:string" minOccurs="0"/>
      <xs:element name="EntryType" type="xs:string" minOccurs="0"/>
      <xs:element name="Active" type="xs:boolean" minOccurs="0"/>
      <xs:element name="ProteinExistence" type="xs:string" minOccurs="0"/>
      <xs:element name="Organism" type="lmp:OrganismType" minOccurs="0"/>
      <xs:element name="Lineages" type="lmp:LineagesType" minOccurs="0"/>
      <xs:element name="SecondaryAccessions" type="lmp:StringListType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OrganismType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="LineagesType">
    <xs:sequence>
      <xs:element name="Lineage" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StringListType">
    <xs:sequence>
      <xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ================================================================ -->
  <!-- Embeddings                                                      -->
  <!-- ================================================================ -->

  <xs:complexType name="EmbeddingsType">
    <xs:sequence>
      <xs:element name="Vector" type="lmp:VectorType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VectorType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="model" type="xs:string" use="optional"/>
        <xs:attribute name="dim" type="xs:positiveInteger" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ================================================================ -->
  <!-- Semantics                                                       -->
  <!-- ================================================================ -->

  <xs:complexType name="SemanticsType">
    <xs:sequence>
      <xs:element name="ProteinName" type="xs:string" minOccurs="0"/>
      <xs:element name="Genes" type="lmp:StringListType" minOccurs="0"/>
      <xs:element name="Keywords" type="lmp:StringListType" minOccurs="0"/>
      <xs:element name="Comment" type="lmp:TypedTextType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TypedTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ================================================================ -->
  <!-- Geometry                                                        -->
  <!-- ================================================================ -->

  <xs:complexType name="GeometryType">
    <xs:sequence>
      <xs:element name="Sequence" type="lmp:SequenceType" minOccurs="0"/>
      <xs:element name="Feature" type="lmp:FeatureType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SequenceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="length" type="xs:nonNegativeInteger" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="FeatureType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="start" type="xs:nonNegativeInteger" use="optional"/>
        <xs:attribute name="end" type="xs:nonNegativeInteger" use="optional"/>
        <xs:attribute name="description" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ================================================================ -->
  <!-- KnowledgeGraph                                                  -->
  <!-- ================================================================ -->

  <xs:complexType name="KnowledgeGraphType">
    <xs:sequence>
      <xs:element name="CrossReference" type="lmp:CrossReferenceType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Reference" type="lmp:ReferenceType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Edge" type="lmp:EdgeType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CrossReferenceType">
    <xs:sequence>
      <xs:element name="Property" type="lmp:KeyValueType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="db" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="isoformId" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="ReferenceType">
    <xs:sequence>
      <xs:element name="Citation" type="lmp:TypedTextType" minOccurs="0"/>
      <xs:element name="CitationXref" type="lmp:KeyValueType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="number" type="xs:nonNegativeInteger" use="optional"/>
  </xs:complexType>

  <xs:complexType name="EdgeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="db" type="xs:string" use="optional"/>
        <xs:attribute name="id" type="xs:string" use="optional"/>
        <xs:attribute name="source" type="xs:string" use="optional"/>
        <xs:attribute name="target" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="KeyValueType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="key" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ================================================================ -->
  <!-- Provenance                                                      -->
  <!-- ================================================================ -->

  <xs:complexType name="ProvenanceType">
    <xs:sequence>
      <xs:element name="EntryAudit" type="lmp:EntryAuditType" minOccurs="0"/>
      <xs:element name="GroundTruthEntry" type="lmp:GroundTruthType" minOccurs="0"/>
      <xs:element name="GroundTruthMeta" type="lmp:GroundTruthType" minOccurs="0"/>
      <xs:element name="InternalLine" type="lmp:TypedTextType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GroundTruthType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="contentType" type="xs:string" use="optional"/>
        <xs:attribute name="encoding" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="EntryAuditType">
    <xs:sequence>
      <xs:element name="SequenceVersion" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="EntryVersion" type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="FirstPublicDate" type="xs:string" minOccurs="0"/>
      <xs:element name="LastAnnotationUpdateDate" type="xs:string" minOccurs="0"/>
      <xs:element name="LastSequenceUpdateDate" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
